{% extends 'base.html' %}

{% block title %}Materiais de apoio{% endblock %}

{% block content %}
<div class="col">
    <h2 class="display-4">Materiais de apoio para download</h2>

    <!-- Lista de Materiais Disponíveis -->
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Envio</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materiais %}
                    <tr>
                        <td>{{ material.nome }}</td>
                        <td>{{ material.data_envio }}</td>
                        <td>
                            <a href="{{ material.arquivo.url }}" class="btn btn-sm btn-dark" download>Baixar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}