/* styles.css */
html, body {
    height: 100%;
    margin: 0;
}

.bg-custom-portugues {
    background-color:  #e1e1e1;  /* Gradiente de 45 graus */
}

.card-com-fundo {
    background-color: #023805c2;
    background-size: cover; /* Cobrir todo o fundo */
    background-position: center; /* Centralizar a imagem */
    color: white; /* Cor do texto (se necessário) */
    border-radius: 5px; /* Bordas arredondadas */
}
.carousel-caption {
    text-align: left; /* Alinha o texto à esquerda */
    left: 5%; /* Ajusta a posição horizontal */
    right: auto; /* Remove o alinhamento à direita padrão */
    transform: translateY(-95%); /* Mantém o alinhamento vertical centralizado */
    top: 50%; /* Posiciona o texto no meio verticalmente */
}

.carousel-indicators {
    bottom: 10px; /* Ajuste a posição vertical dos indicadores */
}

.carousel-indicators button {
    width: 10px; /* Largura da bolinha */
    height: 10px; /* Altura da bolinha */
    border-radius: 50%; /* Transforma em bolinha */
    background-color: rgba(255, 255, 255, 0.5); /* Cor da bolinha (meio transparente) */
    border: none; /* Remove a borda */
    margin: 0 5px; /* Espaçamento entre as bolinhas */
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1); /* Cor da bolinha ativa (mais opaca) */
}

/* Se quiser individualizar, exlue o portugues acima, que esses de baixo ativam */

.bg-custom-gramatica {
    background: linear-gradient(45deg, #ffa3fd, #ffa6b9);  /* Gradiente de 45 graus */
}

.bg-custom-faces {
    background: linear-gradient(45deg, #9fffd4, #e7f98d);  /* Gradiente de 45 graus */
}

.bg-custom-flash {
    background: linear-gradient(45deg, #e6bfff, #b0cfff);  /* Gradiente de 45 graus */
}


